body {
    font-family: 'Rodin', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bg-pattern.png');
    background-size: contain;
    background-attachment: fixed;
    color: white;
    transition: background 0.3s, color 0.3s;
}

header {
    text-align: center;
    padding: 60px; 
    background-color: #2ecc71;
    font-size: 1.2em; 
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #27ae60;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

section {
    padding: 20px;
    background-color: #1e824c;
    border-radius: 10px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    background-color: #3498db;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #2980b9;
}

.qr-container {
    text-align: center;
    margin-top: 10px;
}

.qr-container img {
    width: 240px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #3498db;
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #27ae60;
}

.download-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ABDAF2;
    border-radius: 10px;
    margin-bottom: 20px;
}

#section {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ABDAF2;
    border-radius: 10px;
    margin-bottom: 20px;
}

.netpal {
    position: relative;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
}

.netpal img {
    width: 500px;
    height: auto;
}

img {
    max-width: 100%;
}