body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: white;
    transition: background 0.3s, color 0.3s;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #2ecc71; /* Green */
}

button {
    background-color: #3498db; /* Light Blue */
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9; /* Slightly darker blue */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #27ae60; /* Darker Green */
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #1e824c; /* Medium Green */
    border-radius: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    background-color: #3498db; /* Light Blue */
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #2980b9; /* Slightly darker blue */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #27ae60; /* Dark Green */
}

details {
    background: #3498db; /* Light Blue */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

details summary {
    cursor: pointer;
    font-weight: bold;
}

details p {
    margin-top: 5px;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: white;
    color: black;
}

.dark-mode section {
    background-color: #a8e6cf; /* Light Green */
}

.dark-mode nav ul {
    background-color: #74b9ff; /* Soft Blue */
}

.dark-mode header {
    background-color: #55efc4; /* Neon Green */
}
